@charset "utf-8";

// Brand Colors
$red: hsl(0, 100%, 41.8%);
$blue: hsl(203, 100%, 45.9%);
$purple: hsl(280, 100%, 50%);
$green: hsl(145, 100%, 39.2%);
$grey-dark: hsl(0, 0%, 12.9%);
$yellow: hsl(50, 100%, 50%);
$cyan: hsl(188, 100%, 41.6%);
$orange: hsl(26, 100%, 50%);

// Global Variable
$primary: $red;

// Override Components


// Required SASS
@import "../node_modules/bulma/bulma";