@charset "utf-8";

// Brand Colors
$red: hsl(0, 100%, 41.8%);
$blue: hsl(203, 100%, 45.9%);
$purple: hsl(280, 100%, 50%);
$grey-dark: hsl(0, 0%, 12.9%);
$white: hsl(0, 0%, 99%);

// Global Variable
$primary: $red;
$background: $white;

// Override Components


// Required SASS
@import "../node_modules/bulma/bulma";